option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DYNAMODB_TABLE_REGEXP
    value: FOOBAR.*
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DYNAMODB_GSI_REGEXP
    value: .*
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LOG_LEVEL
    value: info
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CHECK_INTERVAL
    value: 30
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENABLE_READS_UP_SCALING
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENABLE_READS_DOWN_SCALING
    value: false
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: READS_UPPER_THRESHOLD
    value: 90
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: READS_LOWER_THRESHOLD
    value: 30
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: INCREASE_READS_WITH
    value: 50
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DECREASE_READS_WITH
    value: 50
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: INCREASE_READS_UNIT
    value: percent
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DECREASE_READS_UNIT
    value: percent
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MIN_PROVISIONED_READS
    value: 1
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAX_PROVISIONED_READS
    value: 500
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENABLE_WRITES_UP_SCALING
    value: true
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: ENABLE_WRITES_DOWN_SCALING
    value: false
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: WRITES_UPPER_THRESHOLD
    value: 90
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: WRITES_LOWER_THRESHOLD
    value: 30
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: INCREASE_WRITES_WITH
    value: 50
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DECREASE_WRITES_WITH
    value: 50
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: INCREASE_WRITES_UNIT
    value: percent
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DECREASE_WRITES_UNIT
    value: percent
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MIN_PROVISIONED_WRITES
    value: 50
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: MAX_PROVISIONED_WRITES
    value: 800
